body {
  background-color: #cc0000;
  color: #EEAD0E;
}

/* Form Styling for Account Creation page and others */
.formWrapper {
  margin: 0 auto;
  max-width: 500px;
  padding: 15px;
}

.formError {
  display: none;
  background-color: #c83737;
  font-style: italic;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 0 0 15px 0;
  text-align: center;
  border-color: #d87070;
  border-width: 2px;
  border-style: solid;
}

.formSuccess {
  display: none;
  background-color: #217844;
  font-style: italic;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 0 0 15px 0;
  text-align: center;
  border-color: #35c06d;
  border-width: 2px;
  border-style: solid;
}

hr {
  margin: 30px 0;
}

input,select,option {
  border-width: 1px;
  border-radius: 2px;
  padding: 7px 1%;
  width: 100%;
}

.checkboxGroup input {
  display: inline-block;
  width: initial;
  margin: 20px;
}

input.disabled {
  background-color: #efefef;
}

.inputWrapper {
  padding: 0 0 20px 0;
}

.inputLabel {
  padding: 0 0 5px 0;
  color: #808080;
}

.backButton {
  text-transform: uppercase;
  font-weight: bold !important;
  display: inline-block !important;
  width: 100px;
  padding: 7px !important;
  color: #fff !important;
  background-color: #1a1a1a;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

table {
  width: 100%;
}

tr {
  width: 100%;
}

th {
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
  border-color: #000;
  border-style: dotted;
  padding: 10px;
  margin: 0 0 10px 0;
  background-color: #efefef;
}

td {
  padding: 5px;
}

td a, td a:hover, td a:active {
  color: #2e5fa8;
  text-decoration: underline;
  cursor: pointer;
}
